@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 202 24% 9%;
         @apply bg-background text-foreground;
    }

    .dark {
        --background: 0 0% 0%;;
        --foreground: 210 6% 93%;
        
        --foreground: 210 4% 18%;
         @apply bg-background text-foreground;
        
    }
}

@layer base {
    
    body {
        @apply bg-background text-foreground;
    }
} */

.menu-list {
  height: 0;
  overflow: hidden;
  transition: height .8s ease;
}

.menu-list.open {
  height: auto;
}

